In [1]:
import pandas as pd
import numpy as np

In [21]:
data = pd.read_csv("https://raw.githubusercontent.com/rfordatascience/tidytuesday/master/data/2022/2022-07-12/flights.csv")

In [22]:
data.head()

,YEAR,MONTH_NUM,MONTH_MON,FLT_DATE,APT_ICAO,APT_NAME,STATE_NAME,FLT_DEP_1,FLT_ARR_1,FLT_TOT_1,FLT_DEP_IFR_2,FLT_ARR_IFR_2,FLT_TOT_IFR_2,Pivot Label
0,2016,1,JAN,2016-01-01T00:00:00Z,EBAW,Antwerp,Belgium,4,3,7,NaN,NaN,NaN,Antwerp (EBAW)
1,2016,1,JAN,2016-01-01T00:00:00Z,EBBR,Brussels,Belgium,174,171,345,174.0,161.0,335.0,Brussels (EBBR)
2,2016,1,JAN,2016-01-01T00:00:00Z,EBCI,Charleroi,Belgium,45,47,92,45.0,45.0,90.0,Charleroi (EBCI)
3,2016,1,JAN,2016-01-01T00:00:00Z,EBLG,Liège,Belgium,6,7,13,NaN,NaN,NaN,Liège (EBLG)
4,2016,1,JAN,2016-01-01T00:00:00Z,EBOS,Ostend-Bruges,Belgium,7,7,14,NaN,NaN,NaN,Ostend-Bruges (EBOS)

In [23]:
data = data[['YEAR', 'MONTH_NUM', 'FLT_DATE', 'APT_ICAO', 'APT_NAME', 'FLT_DEP_1', 'FLT_ARR_1', 'FLT_TOT_1']]

In [24]:
data = data.dropna()

In [26]:
data = data.rename(columns={"YEAR": "Year", "MONTH_NUM": "Month", "FLT_DATE": "Date", "APT_ICAO": "ICAO", "APT_NAME": "Airport", "FLT_DEP_1": "Departure", "FLT_ARR_1": "Arrival", "FLT_TOT_1": "Total"})

In [28]:
data.to_csv('preprocessed_data.csv', index=False)